.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 100px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:80%;
    margin: 10px 10px 60px 10px;
  }
  
  td, th {
    border: 1px solid #424141;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #424141;
  } */

#myform{
    margin-bottom: 75px;
}

#myform h2{
    margin-bottom: 10px;
}
label {
    font-size: 20px;
}
label {
    font-size: 20px;
}
.buttom{
    background: purple;
    cursor: pointer;
    height: 30px;
    width: 80px;
    margin: 7px;
    color: white;
    border-radius: 10px;
    border: none;
}

.buttom:hover {
    background: white;
    color: black;
}

input, textarea{
    padding: 5px;
}

/* edit and delete oporation */
.upAndDelt{
    /* background-color: rgb(53, 53, 53); */
    background-color: purple;
    cursor: pointer;
}
.upAndDelt a{
    font-size: 12px;
    color:white;
    text-decoration: none;
    padding: 3.5px;
}
.upAndDelt a:hover{
    text-decoration: underline;
}
small {
    color: red;
  }
/* for responsive */
@media only screen and (min-width: 280px) and (max-width: 1023px){
textarea {
    width: 341px;
    height: 20px;
}
}